.search {
  border: 1px solid black;
}
.search-data {
  width: 200px;
}
.results {
  z-index:2;
}

@media only screen and (max-width: 600px) {
  .search-container {
    text-align: right;
  }

  .search {
    width: 80%;
  }

  .logo {
    width: 10em;
  }

  .results {
    width: 80%;
    right: 0;
    z-index: 2;
  }

  .size {
    text-align: left;
  }
}
